-- SQL представления (views) для аналитики

-- 1. Представление продаж по месяцам
CREATE VIEW IF NOT EXISTS monthly_sales AS
SELECT 
    strftime('%Y-%m', order_date) as month,
    COUNT(DISTINCT order_id) as orders_count,
    SUM(quantity) as total_quantity,
    SUM(total_amount) as revenue,
    AVG(total_amount) as avg_order_value
FROM orders
WHERE status = 'completed'
GROUP BY strftime('%Y-%m', order_date);

-- 2. Представление топ товаров
CREATE VIEW IF NOT EXISTS top_products AS
SELECT 
    p.product_id,
    p.product_name,
    p.category,
    SUM(o.quantity) as total_sold,
    SUM(o.total_amount) as total_revenue,
    AVG(p.price) as avg_price
FROM orders o
JOIN products p ON o.product_id = p.product_id
WHERE o.status = 'completed'
GROUP BY p.product_id, p.product_name, p.category
ORDER BY total_revenue DESC;

-- 3. Представление клиентской аналитики
CREATE VIEW IF NOT EXISTS customer_analytics AS
SELECT 
    c.customer_id,
    c.first_name || ' ' || c.last_name as customer_name,
    c.city,
    c.age,
    COUNT(DISTINCT o.order_id) as total_orders,
    COALESCE(SUM(o.total_amount), 0) as total_spent,
    COALESCE(AVG(o.total_amount), 0) as avg_order_value,
    MIN(o.order_date) as first_order_date,
    MAX(o.order_date) as last_order_date
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id AND o.status = 'completed'
GROUP BY c.customer_id, c.first_name, c.last_name, c.city, c.age;
