-- Примеры SQL запросов с различными функциями

-- 1. Агрегирующие функции + GROUP BY
SELECT 
    category,
    COUNT(*) as product_count,
    AVG(price) as avg_price,
    MAX(price) as max_price,
    MIN(price) as min_price
FROM products
GROUP BY category
HAVING COUNT(*) > 1;

-- 2. Подзапросы
SELECT 
    customer_name,
    city,
    total_spent,
    CASE 
        WHEN total_spent > (SELECT AVG(total_spent) FROM customer_analytics) 
        THEN 'Выше среднего'
        ELSE 'Ниже среднего'
    END as spending_category
FROM customer_analytics;

-- 3. JOIN с условиями
SELECT 
    o.order_id,
    c.first_name || ' ' || c.last_name as customer_name,
    p.product_name,
    p.category,
    o.quantity,
    o.total_amount,
    CASE 
        WHEN o.total_amount > 1000 THEN 'Крупный'
        WHEN o.total_amount > 500 THEN 'Средний'
        ELSE 'Малый'
    END as order_size
FROM orders o
JOIN customers c ON o.customer_id = c.customer_id
JOIN products p ON o.product_id = p.product_id
WHERE o.status = 'completed'
ORDER BY o.total_amount DESC;

-- 4. Функции работы с датами
SELECT 
    strftime('%Y', order_date) as year,
    strftime('%m', order_date) as month,
    COUNT(*) as order_count,
    SUM(total_amount) as monthly_revenue
FROM orders
WHERE status = 'completed'
GROUP BY strftime('%Y', order_date), strftime('%m', order_date)
ORDER BY year, month;

-- 5. Оконные функции (если поддерживаются)
SELECT 
    customer_id,
    order_date,
    total_amount,
    SUM(total_amount) OVER (PARTITION BY customer_id ORDER BY order_date) as running_total
FROM orders
WHERE status = 'completed'
ORDER BY customer_id, order_date;
